{% extends "base.html" %}

{% block title %}Liste des tâches{% endblock %}

{% block content %}
    <div class="container">
        <h1>To-Do List</h1>
        <a href="{% url 'task_create' %}" class="button-link">Créer une nouvelle tâche</a>

        <div class="task-header">
            <span>Tâches</span>
            <span>Catégorie</span> <!-- Add category column -->
            <span>Date d'échéance</span>
            <span>Actions</span>
        </div>

        <ul>
            {% for task in tasks %}
                <li class="{% if task.completed %}completed-task{% endif %}">
                    <span>{{ task.title }} - {{ task.description }}</span>
                    <span>
                        {% if task.category %}
                            {{ task.category.name }}
                        {% else %}
                            No Category
                        {% endif %}
                    </span> <!-- Display category -->
                    <span>{{ task.due_date|date:"d/m/Y" }}</span>
                    <div class="task-actions">
                        <a href="{% url 'task_update' task.pk %}" class="edit-btn">Modifier</a>
                        <a href="{% url 'task_delete' task.pk %}" class="delete-btn">Supprimer</a>
                    </div>
                </li>
            {% endfor %}
        </ul>

        <!-- Ajouter un conteneur pour le calendrier
        <h2>Calendrier</h2>
        <div id="calendar"></div>  -->
    </div>
{% endblock %}

<!-- 
{% block scripts %}

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');

        // Convert tasks to FullCalendar events
        var events = [
            {% for task in tasks %}
                {
                    title: '{{ task.title }}',
                    start: '{{ task.due_date }}',
                    backgroundColor: '{% if task.completed %}green{% else %}red{% endif %}',  // Green for completed, red otherwise
                },
            {% endfor %}
        ];

        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            locale: 'fr', // Change locale to French
            events: events // Attach the events array
        });

        calendar.render(); // Render the calendar
    });
</script>
{% endblock %}
-->